$prefix: m;

// 背景颜色
$bgColor : #ddd !default;

// 文字颜色
$red : red;
$yellow : yellow;
$blue : blue;
$grey : yellow;

//边框颜色
$border: #ddd;

//按钮颜色
$btnBg: #fff;
$btnActive: #ddd;
$btnDisabled: #ddd;

$footer-height: 20px;